{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>nm.debian.org login</h1>

{% if not providers_active and not providers_inactive %}
  <p class="lead">
  {% blocktrans %}
    There does not seem to be a way to log into nm.debian.org at the moment
  {% endblocktrans %}
  </p>
{% else %}
  {% if providers_active %}
    <p class="lead">
    {% blocktrans %}
      You are already logged in as:
    {% endblocktrans %}
    </p>
    <ul class="list-unstyled ml-4">
    {% for provider in providers_active %}
    <li class="row">
      <div class="btn btn-info btn-lg disabled col-sm-6">
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {% if provider.profile %}
        <a href="{{provider.profile}}">{{provider.label}}</a>
        {% else %}
        {{provider.label}}
        {% endif %}
        {% if provider.username %}
        ({{provider.username}})
        {% endif %}
      </div>
      <div class="btn btn-light btn-lg disabled col-sm-6">
      {% if provider.get_active_identity %}
      {% trans "(linked to account)" %}
      {% else %}
      {% trans "(not linked to account)" %}
      {% endif %}
      </div>
    </li>
    {% endfor %}
    </ul>

    {% if not request.user.is_authenticated %}
    <p class="lead">
      If you are logged in but your identity is not linked to your account,
      try logging in with other methods <i>at the same time</i>, and they will
      get linked together.
    </p>
    {% endif %}
  {% endif %}

  {% if providers_inactive %}
    <p class="lead">
    {% blocktrans %}
      You can log into nm.debian.org using:
    {% endblocktrans %}
    </p>
    <ul class="list-unstyled ml-4">
    {% for provider in providers_inactive %}
      <li class="row">
        <a class="btn btn-primary btn-lg col-md-6" href="{{provider.get_authorization_url}}" role="button">
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {{provider.label}}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}

{% if identities %}
<h2>Identity audit logs</h2>
{% for identity in identities %}
<div class="card mt-4">
  <div class="card-header">
    {% with identity.get_provider as provider %}
    {% if identity.profile %}<a href="{{identity.profile}}">{% endif %}
      {% if provider.icon %}
      <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
      {% else %}
      <span class="mr-2 fa fa-sign-in"></span>
      {% endif %}
      {{provider.label}}:
      {{identity.fullname}} &lt;{{identity.username}}&gt;
      {% endwith %}
    {% if identity.profile %}</a>{% endif %}
  </div>
  <table id="audit_log" class="table table-sm card-body mb-0">
    <thead>
      <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Notes" %}</th>
        <th>{% trans "Changes" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for e in identity.audit_log.all %}
      <tr>
        <td>{{e.logdate|date:"Y-m-d H:i:s"}}</td>
        <td><a href="{{e.author.get_absolute_url}}">{{e.author}}</a></td>
        <td>{{e.notes}}</td>
        <td>
          <ul>
          {% for field, old, new in e.get_changes_list %}
          <li>{{field}}: {{old}} → {{new}}</li>
          {% endfor %}
          </ul>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4" class="text-center"><i>{% trans "No audit log for this identity" %}</i></td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
{% endif %}

{% endblock %}
