{% load i18n %}

<div class="card">
  <div class="card-body">
  {% if request.sso_username %}
    {% if visitor %}
{% blocktrans with request_user_username=request.user.username visitor_a_link=visitor.a_link %}You
are currently logged in with
<a href="https://wiki.debian.org/DebianSingleSignOn">SSO username</a>
<b>{{request_user_username}}</b>, and recognized as {{visitor_a_link}}.{% endblocktrans %}
    {% else %}
{% url 'dm_claim' as dm_claim_url %}
{% blocktrans with request_user_username=request.user.username %}You
are currently logged in with
<a href="https://wiki.debian.org/DebianSingleSignOn">SSO username</a>
<b>{{request_user_username}}</b>, but not mapped to any person in the site.
If you are a Debian Maintainer, you can try to correct the situation using the
<a href="{{dm_claim}}">claim interface</a>.{% endblocktrans %}
    {% endif %}
  {% else %}
{% blocktrans %}You are not currently logged in. See the
<a href="https://wiki.debian.org/DebianSingleSignOn">Single Sign-On page</a>
for details.{% endblocktrans %}
  {% endif %}
  </div>
</div>
