{% load nm %}
{% load i18n %}

<p>{% blocktrans %}The most important requirement for changing status in
Debian is to make sure that a person actually intends to.{% endblocktrans %}</p>

{% if edit %}

{% if process.applying_for == "dd_e" %}
<p>{% blocktrans %}Paste a signed statement of intent in the form below, and
it will get automatically posted to
<a href="https://lists.debian.org/debian-private/">debian-private</a>.{% endblocktrans %}</p>

<p>{% trans "An example statement of intent can be something like this:" %}
<pre>
Dear fellow developers,

As I am not currently active in Debian, I request to move to the Emeritus
status.

So long, and thanks for all the fish.
</pre>
<p>

{% else %}

<p>{% blocktrans %}Paste a signed statement of intent in the form below, and
it will get automatically posted to
<a href="https://lists.debian.org/debian-newmaint/">debian-newmaint</a>.{% endblocktrans %}</p>

<p>{% trans "An example statement of intent can be something like this:" %}
<pre>
For nm.debian.org, at {{now|date:"Y-m-d"}}:
I would like to apply to change my status in Debian to {{process.applying_for|desc_status}}.
I have worked on X and Y for a while and I would like to be able to Z.
</pre>
<p>
{% endif %}

{% endif %}
