{% load nm %}
{% load i18n %}
{% load process %}

{% if procs %}
<table class="proctable table table-sm tablesorter {{class}}">
{% if not skip_caption %}<caption>{% trans "New-style processes" %}</caption>{% endif %}
<thead>
    <tr>
        <th>{% trans "Started" %}</th>
        <th>{% trans "Last" %}</th>
        <th>{% trans "Target" %}</th>
        <th>{% trans "Applicant" %}</th>
        <th>{% trans "UID" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "AM" %}</th>
        {% if not proctable_archive %}
        <th>{% trans "Requirements" %}</th>
        {% if visitor.is_admin %}
        <th>{% trans "FD comments" %}</th>
        {% endif %}
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for process in procs %}
    <tr>
        {% with process|process_status:view as status %}
        <td class="word"><small>{{status.log_first.logdate|date:"Y-m-d"}}</small></td>
        <td class="word"><small>{{status.log_last.logdate|date:"Y-m-d"}}</small></td>
        <td class="word" val="{{ process.applying_for|seq_status }}">{{process.applying_for|sdesc_status}}</td>
        <td><a href="{{ process.get_absolute_url }}">{{process.person.fullname}}</a></td>
        <td><a href="{{ process.get_absolute_url }}">{{process.person.ldap_fields.uid}}</a></td>
        <td>{{status.summary}}</td>
        <td>
          {% with process.current_am_assignment as assignment %}
          {% if assignment %}{{assignment.am.person.a_link}}{% endif %}
          {% endwith %}
        </td>
        {% if not proctable_archive %}
        <td val="{{status.requirements_ok|length}}">
          {% for req in status.requirements_ok %}<a class="badge badge-pill badge-success" href="{{req.get_absolute_url}}"><span class="fa fa-check"></span> {{req.type_sdesc}}</a> {% endfor %}
          {% for req in status.requirements_missing %}<a class="badge badge-pill badge-danger" href="{{req.get_absolute_url}}"><span class="fa fa-close"></span> {{req.type_sdesc}}</a> {% endfor %}
        </td>
        {% if visitor.is_admin %}
        <td>{{process.fd_comment}}</td>
        {% endif %}
        {% endif %}
        {% endwith %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
